package 'cgminer'

config 'cgminer' 'default'
	option	'pool1url'					'solo.antpool.com:25'
	option	'pool1user'					'antminer'
	option	'pool1pw'					'123'
	option	'pool2url'					'p2p.antpool.com:3333'
	option	'pool2user'					'antminer'
	option	'pool2pw'					'123'
	option  'pool3url'					'50.31.149.57:3333'
	option  'pool3user'					'antminer'
	option  'pool3pw'					'123'
	option	'api_allow'					'W:127.0.0.1'
	option	'more_options'				'--quiet'
	option	'pool_balance'				' '
	option  'bitmain_nobeeper'			' '
	option  'bitmain_notempoverctrl'	' '
	
	option  'freq'						'18:225:0882'
