package 'cgminer'

config 'cgminer' 'default'
	option	'pool1url'	'192.168.110.60:3336'
	option	'pool1user'	'antminer_1'
	option	'pool1pw'	'123'
	option	'pool2url'	'50.31.149.57:3333'
	option	'pool2user'	'antminer_1'
	option	'pool2pw'	'123'
	option  'pool3url'  '58.250.173.48:3336'
	option  'pool3user' 'antminer_1'
	option  'pool3pw'   '123'
	option	'api_allow'	'W:127.0.0.1'
	option	'pool_balance'	''
	option	'more_options'	'--quiet'

	option bitmain_nobeeper ' '
	option bitmain_notempoverctrl ' '
