package 'cgminer'

config 'cgminer' 'default'
	option	'pool1url'					'solo.antpool.com:25'
	option	'pool1user'					'antminer'
	option	'pool1pw'					'123'
	option	'pool2url'					'p2p.antpool.com:3333'
	option	'pool2user'					'antminer'
	option	'pool2pw'					'123'
	option  'pool3url'					'stratum+tcp://stratum.f2pool.com:3333'
	option  'pool3user'					'ant.1'
	option  'pool3pw'					'123'
	option	'api_allow'					'W:127.0.0.1'
	option	'more_options'				'--quiet'
	option	'pool_balance'				' '
	option  'bitmain_nobeeper'			' '
	option  'bitmain_notempoverctrl'	' '
	
	#option  'freq'						'18:218.75:1106'	
	option  'freq'						'18:225:0882'
	#option  'freq'						'16:250:0982'
	option 	'voltage'					'0000'
